@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    --primary: #716D6E;
    --background: #d7d7d9;
    --secondary: #EFEFEF;
    --text: #262825;
    --error: #EF5350;
    overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-5xl
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-lg
  }
  p, div {
    @apply text-base
  }
}

html {
  background-color: var(--background)
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--background);
  }
  
body::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 100px;
}

::-moz-selection {
  background-color: var(--primary);
  color: var(--background)
}

::selection {
  background-color: var(--primary);
  color: var(--background)
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-background-clip: var(--background);
  -webkit-text-fill-color: var(--text) !important;

}