@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    --primary: #554ACC;
    --secondary: #4A3733;
    --background-secondary: #FEFEFE;
    --background: #e8eff1;
    --text: #262825;
    --error: #EF5350;
    overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-5xl
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-2xl
  }
  p, div {
    @apply text-base
  }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 100px;
  }