.draggable-area {
    width: 1000px; 
    height: 500px;
    position: relative; 
    margin: 20px auto; 
    border: 2px solid #000000; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  .draggable-box {
    width: 100px; /* Width of the box */
    height: 100px; /* Height of the box */
    background-color: skyblue; 
    cursor: grab;

    
  }
  .box-title {
    text-align: center;
    margin-bottom: 10px; /* Adjust as needed */
    /* Additional styling as needed */
  }