@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

.seconds {
  font-size: 0.5em;
  opacity: 0.7; 
}

.date {
  color: #fff; 
  font-weight: 100;
  margin-top: 30px;
  font-weight: lighter;
  font-size: 50px;
}

  