@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
  background-color: black;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

#root {
  max-width: 1280px;
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
  background-color: #000; 
}

.App-header {
  border: none;
  border-radius: 15px; 
  padding: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  background-color: #000000; 
  color: #fff; 
  border: 2px solid #fff; 
}

.ui-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  grid-auto-rows: minmax(200px, auto);
}

.weather-box, .calendar-box, .weekly-forecast-container {
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Removed the border property */
}

@media (max-width: 768px) {
  .ui-container {
    grid-template-columns: 1fr;
  }

  .weather-box, .calendar-box, .weekly-forecast-container {
    width: 100%;
    margin-bottom: 20px; 
  }
}

.temperature-display {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
}

.temperature-display p {
  margin: 10px 0;
  font-size: 1.2rem; 
  line-height: 1.5; 
}

.temperature-display p:first-child {
  font-size: 1.5rem; 
  font-weight: bold; 
}

.temperature-display .temperature {
  font-size: 2.5rem; 
  font-weight: bold; 
}

.temperature-display .weather-condition {
  font-size: 1.8rem; 
}

.temperature-display .uv-index {
  font-size: 1rem; 
}

.weekly-forecast-container {
  max-width: 100%; /* Use 100% of the container width */
  max-height: 300px; /* Adjust this value to match the height of the daily forecast */
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #000;
  color: white;
  text-align: center;
  overflow: hidden;
}

.weekly-forecast {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  justify-content: space-around; /* Distributes space evenly */
  align-items: center; /* Aligns items vertically in the center */
  height: 100%;
  margin: 0; 
  padding: 0; 
}

.weekly-forecast > div {
  flex: 1; /* Each child will take equal space */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Evenly spaces the content within each child */
  align-items: center;
  padding: 5px;
  margin: 2px;
  font-size: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for individual days' styling */
}


.weekly-forecast-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.daily-forecast {
  border: 1px solid #ddd; 
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  flex: 1;
}

.day {
  font-weight: bold; 
}

.temperature {
  font-size: 1.2em; 
}

.black-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

.calendar-header {
  display: flex;
  background-color: #000000;
  color: white;
}

.calendar-header-day {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #000000;
}

.calendar-header-day:last-child {
  border-right: none;
}

.calendar-week {
  display: flex;
}

.calendar-day {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #000; 
  border: 2px solid #fff;
}

.calendar-day:last-child {
  border-right: none;
}

.calendar-container {
  text-align: center;
  color: white;
}

.calendar-title {
  text-align: center;
  margin-bottom: 20px; 
}

.loading-box {
  color: white;
  background-color: #000000; 
  padding: 20px;
  margin: 20px;
  border-radius: 10px; 
  border: 1px solid #000000; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5rem;
}
