@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden; 
}

.container {
  width: 1920px;
  height: 1080px;
  margin: auto; 
  position: relative;
}
#root {
  position: relative; 
  max-width: 1280px;
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
  background-color: #000; 
}

.App-header {
  border: none;
  border-radius: 15px; 
  padding: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  background-color: #000000; 
  color: #fff; 
  border: 2px solid #fff; 
  
}


.clock {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 5rem;
  color: white;
  border: none;
  outline: none;
  white-space: nowrap;
}


body, p, h1, h2, h3, h4, h5, h6, a, button {
  color: #fff; 
}

.loading-box {
  color: white;
  background-color: #000000; 
  padding: 20px;
  margin: 20px;
  border-radius: 10px; 
  border: 1px solid #000000; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5rem;
  
}

.day {
  font-weight: bold; 
}

.black-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


html {
  background-color: black
}


.ui-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0; /* Set padding to 0 */
  margin: 0; /* Set margin to 0 */
  height: 100vh; /* Set height to 100% of the viewport height */
  width: 100vh;
}

.weather-box {
  position: absolute; 
  right: 0%;
  top: 3%;
  background-color: #00000000;
  border: 1px solid #00000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.calendar-box {
  width: 300px; /* Adjust this value as needed */
  height: 400px; /* Adjust this value as needed */
  margin: 10px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.news-box {
  position: absolute;
  margin: -10px;
  padding: 0px;
  height: 500px;
  width: 60%;
  margin-top: 40%;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.news {
  flex: 1;
  padding: 0px;
  text-align: left;
  height: 600px;
  font-size: .8rem;
  background-color: #00000000;
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .ui-container {
    flex-direction: column;
    align-items: center; 
  }
  .news-box {
    margin: -10px;
    padding: 0px;
    height: 500px;
    width: 35%;
    margin-top: 45%;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
    
  .news {
    flex: 1;
    padding: 0px;
    text-align: left;
    height: 500px;
    font-size: .8rem;
    background-color: #00000000;
  }


  body {
    /* Your styles for 1920x1080 resolution */
  }
}

