.calendar-box {
  width: 300px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  margin: 10px;
  margin-left: 100px; /* Increase the left margin to push the box to the right */
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

  
  .calendar {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  .calendar-header {
    display: flex;
    background-color: #000000;
    color: white;
  }
  
  .calendar-header-day {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #000000;
  }
  
  .calendar-header-day:last-child {
    border-right: none;
  }
  
  .calendar-week {
    display: flex;
  }
  
  .calendar-day {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #000; 
    border: 2px solid #fff;
  }
  
  .calendar-day:last-child {
    border-right: none;
  }
  
  .calendar-container {
    text-align: center;
    color: white;
  }
  
  .calendar-title {
    text-align: center;
    margin-bottom: 20px; 
  }