.news-box {
  position: fixed; /* Fixed position relative to the viewport */
  top: 50px; /* Distance from the top of the viewport */
  right: 50px; /* Distance from the right of the viewport */
  margin: 10px;
  padding: 20px;
  height: 500px;
  width: 400px;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
  .news {
    flex: 1;
    padding: 10px;
    text-align: center;
    height: 600px;
    width: 400px;
    background-color: #000;
  }