
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Set the number of lines before the ellipsis appears */
  -webkit-box-orient: vertical;
  max-height: 3.0rem; /* Adjust the max height as needed */
}
.news h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  background-color: #00000000;
}

.news-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: white;
  background-color: #00000000;
}

.news-description {
  color: white;
  font-size: .5rem;
  background-color: #00000000;
}

.news-source {
  color: #808080; /* Gray color for source */
  margin-right: 0px;
  font-size: .5rem;
  background-color: #00000000;
}
.underlined-heading {
  text-decoration: underline;
}