
.weather-box {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 300px; 
    height: 200px; 
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .temperature-display {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
    color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
  }
  
  .temperature-display p {
    margin: 10px 0;
    font-size: 1.2rem; 
    line-height: 1.5; 
  }
  
  .temperature-display p:first-child {
    font-size: 1.5rem; 
    font-weight: bold; 
  }
  
  .temperature-display .temperature {
    font-size: 1rem; 
    font-weight: bold; 
  }
  
  .temperature-display .weather-condition {
    font-size: 1.8rem; 
  }
  
  .temperature-display .uv-index {
    font-size: 1rem; 
  }
  